
#img1{
	width: 30%;
	height: 60%;
}
#blac{
	width: 30%;
	height: 60%;
}
#adar{
width: 30%;
height: 60%;
}
#headhh{
width: 30%;
	height: 60%;
}
#nois{
width: 30%;
	height: 60%;
}
#rebo{
width: 30%;
	height: 60%;
}