

#ch{
width: 30%;
	height: 60%;
}
#cm{
width: 30%;
	height: 60%;
}
#gr{
width: 30%;
	height: 60%;
}
#fn{
width: 30%;
	height: 60%;
}
#cl{
width: 30%;
	height: 60%;
}
#bs{
width: 30%;
	height: 60%;